@import '~antd/dist/antd.css';

body * {
  font-family: 'Neucha', cursive !important;
}

.layout {
  height: 100%;
}

.logo {
  display: inline-block;
}

.logo a {
  font-size: 1.9em;
  color: #9f9f86;
}

#root,
.container {
  height: 100%;
}
/*
.ant-layout-content {
  display: flex;
  height: 88%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing {
  text-align: center;
  width: 60%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .landing h1 {
  font-size: 8vw;
  flex-basis: 100%;
}

.landing p {
  font-size: 1.25em;
  align-self: flex-start;
} */

.header {
  line-height: 64px;
  font-size: 1.4em;
  position: relative;
  float: right;
}

.footer {
  background-color: #cacaca;
  text-align: center;
  font-size: 1.4em;
}
