@import '~antd/dist/antd.css';

html {
  height: 100%;
}

body,
#root,
.ant-layout,
.container {
  min-height: 100vh;
}

body * {
  font-family: 'Neucha', cursive !important;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  display: inline-block;
}

.logo a {
  font-size: 1.9em;
  color: #9f9f86;
}

.ant-layout-content {
  flex: 1 1 0;
}

.header {
  line-height: 64px;
  font-size: 1.4em;
  position: relative;
  float: right;
}

.footer {
  background-color: #cacaca;
  text-align: center;
  font-size: 1.5em;
  padding: 1rem;
}
