.NavBar {
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: space-between;
  background-color: #447d5f;
  align-items: center;
  color: #524e4d;
}

.NavBar_menu {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 40px;
}

.NavBar_Logo {
  padding-left: 40px;
  font-size: 25px;
}

a {
  text-decoration: none;
  padding: 0 0.5em;
}

#greetings {
  padding-right: 1em;
  font-weight: bold;
  color: white;
}
