.Contato{
    width: 100%;
    height: 100%;
    background-color: #447D5F;
}

.Contato_Box{
    width: 525px;
    margin: 0px auto;
    text-align: center;
    color: #E6E6E6;
    padding-top: 30px;
}

.Contato h1{
    margin: 0px;
    color: #E6E6E6;
    font-size: 80px;
    font-weight: normal;
}

.Contato p{
    text-align: initial;
    font-size: 17px;
    color: #E6E6E6;
}

.Contato_submit{
    height: 74px;
    background-color: #524E4D !important;
    border: none !important;
    color: #E6E6E6;
    font-size: 25px;
    transition-duration: 0.4s;
}

.Contato_submit:hover{
    background-color: rgb(157, 169, 232) !important;
}

.Contato input{
    width:525px;
    padding: 10px 0px;
    background-color: #E6E6E6;
    border: 1px solid #51A4DE;
    margin-bottom: 15px;
    display: block;
    border-radius: 6px;
}

.Contato input::placeholder{
    padding-left: 5px;
}

.Contato_mensagem{
    height: 100px;
}
